.reco-meta {
    display: flex;
    list-style-type: none;
}

.reco-category {
    //background-color: blue;
}

.reco-meta-tags {
    display: flex;
    //background-color: green;
    list-style-type: none;
}

.reco-meta-tag-wrapper {
    padding: 2px 5px;
    margin: 0 5px;
}