
.project-image {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}

.image-zoom {
    margin-left: auto;
    margin-right: auto;
}

.project-title {
    font-weight: 800;
    font-size: 3rem;
}

.project-content h1 h2{
    margin: 1.5rem 0;
}

.project-content ul {
    margin-bottom: 1rem;
    padding-left: 1rem;
}